// ==============================
// Custom style
// ==============================

.single .content p {
    margin: 1.0rem 0;
}

html {
    font-family: 'Noto Serif', serif;
    font-size: 1em;
    line-height: 1.75rem;
}

.header-title {
    font-family: 'Noto Serif', serif;
}

.single .content .showcase-summary {
    line-height: 1.52rem;
}